@charset "UTF-8";
.tamanhoBody{
  height: 75vh;
}

.bg-color-1 {
  background-color: #fce4d5;
}

.nota {
  font-size: 45px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.titulo{
  font-size: 40px;
  font-weight: 400;
  color: #9ec4bb;
}

.subTituloExtrato {
  font-size: 18px;
  font-weight: 400;
  color: #9ec4bb;
}

.subTitulo {
  font-size: 12px;
  color: #5d7771;
}

.texto {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#textoTable{
  background-color: #9ec4bb;
}

#style-cards {
  background-color: #ccccbb;
  border: none;
}

.borderCol {
  padding: 20px;
  background-color: #9ec4bb;
  border-radius: 10px;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar-toggler:hover {
  background-color: #9ec4bb;
}

.card {
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.card2:hover {
  transform: scale(1.03);
  z-index: 2s;
}

.cardExtrato {
  background-color: #2d2e2c;
  border-radius: 10px;
}

.botaoPagar{
  border: none;
  background-color: #2d2e2c;
  color: #9ec4bb;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}

.botaoPagar:hover{
  background-color: #545551;
  transition: ease-in-out 150ms;
}

.seta {
  font-size: 35px;
  padding: 15px;
  color: #2d2e2c;
}

.extratoPagamento{
  border: solid 1px #9ec4bb;
  border-radius: 10px;
}